body {
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
}

.container {
    background-color: #fff;
    width: 50vw;
    margin-top: 30px;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
 
#todo {
    height: 50px;
    padding: 10px;
    border:  2px solid gray;
    width: 75px;
    border-radius: 5px;
}

#form_btn {
    padding:  25px;
    background-color: gray;
    border: 2px solid gray;
    color: #fff;
    border-radius: 5px;
}

ul {
    
    margin: 25px 75px;
    list-style: none;
    padding: 10px;
}

#delete_btn {
    background-color: #1b2898;
    color: #fff;
    border: 2 px solid #1b2898;
    padding: 10px 20px;
    border-radius: 5px;
}
li {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    background-color: #c6c6c6;
    padding: 10px;
}

li span {
    padding-top: 10px;
}

.marked {
    text-decoration: line-through;
    background-color: yellow;
    color: red;
}