body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    color: black;
    padding: 10px 150px;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.nav-list {
    list-style: none;
    display: flex;
    gap: 50px;
    position: relative;
    right: 100px;
}
.nav-item a{
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;

}
.nav-item:hover{
    background-color: lightgrey;
}
.section1 {
    background-color: bisque;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    height: 400px;
}
.image {
    padding: 20px 0;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
    width: 400px;
}
.contain-child {
    text-align: center;
}
.content_btn a {
    display: inline-flex;
    text-decoration: none;
    height: 30px;
    width: 100px;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    color: black;
}
.about_us_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.about_us {
    padding: 10px 400px;
    text-align: center;
}
.about_us h1 {
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
}